@import '../../vars/global.scss';

$dropdown-icon-size: 32px;

div.dropdown {
    display: inline-block;
    text-align: left;
    width: 100%;
    padding: 0 $margin-small;
    box-sizing: border-box;
    select {
        width: 160px;
    }
    img {
        float: left;
    }
}