@import '../../vars/global.scss';

$dropdown-icon-size: 32px;

div.dropdown {
    display: inline-block;
    text-align: left;
    width: 100%;
    padding: 0 $margin-small;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    select {
        width: 160px;
    }
    img {
        float: left;
    }
    div.dropdown-current .icon-dropdown{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.2s ease-in-out;
        right: 0;
        &.revert {
            transform: translateY(-50%) rotate(180deg);
        }
    }
    div.dropdown-item {
        cursor: pointer;
        & > span {
            display: inline-block;
            vertical-align: sub;
        }
        height: 32px;
    }
    div.dropdown-list {
        position: absolute;
        top: 100%;
        width: 100%;
        & > div.dropdown-list-inner {
            max-height: 200px;
            overflow-y: auto;
        }
        display: flex;
        flex-direction: column;
        border: 1px solid $secondary-color;
        background-color: #fff;
        z-index: 999;
        & > div.dropdown-item {
            height: 32px;
        }
    }
}