@import '../../vars/global.scss';

$dropdown-icon-size: 32px;

div.dropdown {
    display: inline-block;
    text-align: left;
    width: 100%;
    padding: 0 $margin-small;
    box-sizing: border-box;
    position: relative;
    select {
        width: 160px;
    }
    img {
        float: left;
    }
    div.dropdown-list {
        position: absolute;
        top: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        border: 1px solid $secondary-color;
        & > div.dropdown-item {
            height: 32px;
            background-color: #fff;
        }
    }
}