@import './../../vars/global.scss';

header.navbar {
    color: $main-color;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    padding: 0 $margin-small;
    box-shadow: 0 $margin-small/2 $margin-small $secondary-color;
    height: $navbar-height;
    div.logo {
        width: $navbar-height;
    }
    div.navbar-dropdown {
        flex-grow: 2;
        margin: auto;
        div.logout {
            width: 100%;
            height: 30px;
            text-align: center;
        }
    }
    div.searchbar {
        flex-grow: 6;
    }
    div.right-header {
        flex-grow: 3;
        text-align: right;
        margin: auto;
    }
}