@import '../../../vars/global.scss';

div.publication-miniature {
    margin: 2px 0;
    img {
        float: left;
        height: 60px;
    }
    h2 {
        line-height: 14px;
        font-size: 12px;
        margin: 0;
    }
    p {
        margin: 2px 0 8px 0;
    }
    & > div {
        font-size: 80%;
        color: $secondary-color-dark;
    }
}

div.latest-publications-card {
    h1 {
        margin-top: 0px;
    }
}