div.publication-miniature {
    img {
        float: left;
        height: 60px;
    }
    h2 {
        line-height: 14px;
        font-size: 12px;
        margin: 0;
    }
    p {
        margin: 2px 0 8px 0;
    }
}