@import '../../../vars/global.scss';

.text-edit {
    input {
        width: 320px;
    }
    textarea {
        width: 320px;
        height: 150px;
    }
    span.multiselect-item {
        background-color: #dbe8ff;
        color: rgb(35, 104, 255);
        display: inline-block;
        margin: 0 2px;
        padding: 1px 0;
    }
}