@import '../../../vars/global.scss';



.workspaces {
    width: 100%;
    position: relative;
    .workspace-container {
        box-sizing: border-box;
        padding: 0 30px;
        width: 100%;
        .workspace-container-inner {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow-x: hidden;
            .card.workspace-item {
                flex: 0 0 24%;
                width: 24%;
                padding: 0;
                overflow: hidden;
                position: relative;
                & > img.background {
                    width: 100%;
                }
                & > img.edit {
                    width: 25%;
                    position: absolute;
                    z-index: 1;
                    top: 70px;
                    left: 35px;
                    box-shadow: #444 6px 3px 10px 3px;
                }
                & > div {
                    padding: 0 4px;
                    & > span{
                        display: inline-block;
                        margin: 0 5px;
                        vertical-align: middle;
                        & > img {
                            display: inline-block;
                            height: 15px;
                        }
                        &:last-of-type {
                            display: block;
                            color: $secondary-color-dark;
                            margin: 0;
                            font-size: 75%;
                        }
                    }
                }
            }
        }
    }
    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 48px;
        cursor: pointer;
        &.arrow-left {
            //nth
        }
        &.arrow-right {
            right: 0;
        }
    }
}

